
.IMG-header-shop {
    z-index: 2;
}
.ss2 {
    display: none;
}
/* .list-group-item-action2 {
    width: 85%;
    height: 45px;
    color: rgb(17, 17, 17);
    font-size: 13px;
    position: relative;
    z-index: 1;
    line-height: 30px;
}
.list-group-item-action:hover {
    background-color: rgb(224, 168, 26);
} */